<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Land Use Land Cover Maps (2013-2021)</h3>
    <div>
      <img src="images/lulc.gif" style="position: center; border: solid 2px" />
    </div>
    <br />
    <h3>Land Surface Temperature (2013-2021)</h3>
    <div>
      <img src="images/LSTT.gif" style="position: center; border: solid 2px" />
    </div>
    <br />
    <h3>Urban Heat Island Effect (2013-2021)</h3>
    <div>
      <img src="images/uhi.gif" style="position: center; border: solid 2px" />
    </div>
    <br />
    <h3>NDVI and NDMI (2013-2021)</h3>
    <div>
      <div>
        <img src="images/ndvi.gif" style="position: left; border: solid 2px" />
      </div>
      <div>
        <img src="images/ndmi.gif" style="position: right; border: solid 2px" />
      </div>
    </div>
    <h3>All maps </h3>
    <div>
    <img src='images/thesis-1.gif' height=400px style='position:center;border:solid 2px'>
    </div>
</body>
</html>
